@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.home > h1 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.home > p {
  font-size: 1.15rem;
  margin-bottom: 2em;
  line-height: 1.75;
}

.icon {
  font-size: 2.5rem;
}

.not-found > h1{
  font-size: 3rem;
}

@media(max-width: 500px) {
  .home > h1 {
    font-size: 3rem;
  }
}